/* AWARDS-SECTION */

.awards .text:first-child {
    margin-top: 0;
}

.awards .text:nth-child(2n) {
    align-self: flex-start;
}

.awards .text:nth-child(2n+1) {
    align-self: flex-end;
}

.text:nth-of-type(2) {
    /* background-image: url("../img/home.jpg"); */
    background-image: url("/img/background_640.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
}

.text:nth-of-type(3) {
    /* background-image: url("../img/home.jpg"); */
    background-image: url("/img/background_640.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 3;
}