/* min-width:992px */

.home {
  background-image: url("/img/people-2569234.jpg");
}

.home .hero-text {
  align-items: center;
}

.home .hero-text h4 {
  font-size: 20px;
}

.home .hero-text h1 {
  font-size: 34px;
}


.home .hero-text p {
  font-size: 13px;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.nav-desktop a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: .3s;
}

.nav-desktop a:hover {
  color: #85817f;
  font-size: 20px;
  cursor: pointer;
}

.about {
  padding-top: 0;
}

@media(min-width:1300px) {
  .nav-desktop {
    width: 750px;
  }

  header {
    height: 55px;
  }

  .about-photos img {
    height: 280px;
  }

  .special-features {
    height: 870px;
  }

  .members {
    width: 23%;
  }
}

@media(min-width:1400px) {
  .home .hero-text {
    width: 50%;
  }
}

.special-features .package:first-child {
  margin-top: 0px;
}

.special-features .package {
  height: 280px;
}

section.awards {
  background-image: url("/img/background\ HD.jpg");
}

@media(min-width:2000px){
  .members {
    height: 400px;
    width: 20%;
  }
}