* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-desktop{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-desktop a{
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}