* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.home{
    height: 100vh;
}

/* NAVIGATION */
.nav{
    position: relative;
}

.nav-desktop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

.nav-desktop a{
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.logo{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

}

/* SECTION HOME */

.logo span{
    color: rgb(255, 102, 0);
}

.home-image{
    height: 600px;
    width: 50vw;
    background-image: url('/img/home_640.jpg');
}

.home .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}