* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* HEADER */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.nav-desktop {
  display: none;
}

.nav-mobile i {
  display: block;
  padding: 5px 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgb(175, 175, 175);
  z-index: 10;
}

.header-box-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header p {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

header span {
  color: rgb(255, 102, 0);
  font-size: 25px;
  font-weight: 700;
}

/* SECTION-HOME*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

section.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../img/people-2569234_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-shadow {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.home .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home .hero-text {
  height: 100vh;
  z-index: 5;
}

.home {
  color: white;
}

.home .hero-text h4 {
  margin-top: 45px;
}

.hero-text h4 {
  color: #ff6600;
  font-size: 17px;
  letter-spacing: 1px;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 25px;
}

.hero-text p {
  font-size: 14px;
  letter-spacing: 1px;
}

button {
  align-self: center;
  margin-top: 20px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 102, 0);
  letter-spacing: 1px;
  transition: .3s;
}

button:hover {
  color: #85817f;
  cursor: pointer;
}

/* SECTION ABOUT */
.about h4 {
  margin-top: 30px;
}

section.about h3 {
  margin-bottom: 20px;
}

.about button {
  align-self: center;
}

.about-photos {
  display: grid;
  grid-gap: 10px;
  margin: 30px 0;
}

@media(orientation:landscape) {
  .about-photos img {
    height: 130px;
  }
}

.about-photos img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

/* SECTION-SPECIAL-FEATURES */
.special-features {
  color: white;
  background-image: url("/img/background_1280.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.special-features .wrapper {
  padding-bottom: 30px;
}

.special-features .wrapper,
.team-members .wrapper {
  display: block;
}

.special-features .package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 70%;
  margin-top: -15px;
  border: 1px solid white;
  border-radius: 5px;

}

.package .text {
  width: 85%;
}

.special-features .hero-text h4 {
  margin-top: 30px;
}

.special-features .hero-text h1 {
  margin-bottom: 0;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.special-features h3 {
  text-align: center;
}

.special-features p {
  margin-top: 20px;
}

.circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 50%;
}

.circle i {
  font-size: 20px;
}

.first-design .circle {
  color: rgb(216, 58, 0);
  background-color: orange;
}

.second-quality .circle {
  color: blueviolet;
  background-color: rgb(202, 160, 241);
}

.third-services .circle {
  color: blue;
  background-color: rgb(36, 186, 255);
}

.fourth-support .circle {
  color: rgb(255, 20, 20);
  background-color: rgb(26, 138, 182);
}

/* TEAM-MEMBERS */
.team-members .team-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.personal-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}

.members {
  height: 330px;
  width: 100%;
  margin-bottom: 30px;
  overflow-y: hidden;
  border: 1px solid black;
}

.members img {
  height: 70%;
  width: 100%;
}

.team-members h4 {
  margin-top: 30px;
}

.team-members p {
  text-align: center;
}

.media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: 100%;
  /* padding: 10px 0; */
  border: 1px solid black;
}

/* SECTION AWARDS */
section.awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/background_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.awards .wrapper {
  padding: 30px 0;
}

.awards .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 60%;
  margin-top: -30px;
  border: 1px solid white;
  border-radius: 10px;
}

.awards h3 {
  text-align: center;
  color: white;
  font-size: 20px;
}

.awards p {
  text-align: center;
  font-size: 15px;
  color: white;
}

/* SECTION FORM */
section.contact-us {
  align-items: flex-start;
  padding-bottom: 30px;
}

section.contact-us .wrapper {
  align-items: flex-start;
}

.contact-us h4 {
  margin-top: 30px;
}

.data .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.data {
  margin-bottom: 30px;
}

.data p {
  text-align: center;
  margin-top: 10px;
}

.data .maps:first-child {
  margin-top: 20px;
}

.data img {
  height: 30px;
  width: 30px;
}

.line{
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #ff6600;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 390px;
}

/* SECTION INFORMATIONS */
.informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgba(2, 4, 66, 0.897);
}

.informations .wrapper {
  align-items: flex-start;
}

.maxona p:first-child {
  margin: 30px 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
}

.maxona span {
  color: rgb(255, 102, 0);
  font-size: 25px;
  font-weight: 700;
}

.our-services {
  margin-top: 30px;
}

.our-services h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.instagram-feed {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.instagram-feed img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 5%;
}

.contact-info {
  margin: 30px 0;
  letter-spacing: 1px;
}

.contact-info p {
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  background-color: rgba(0, 1, 32, 0.897);
}

.footer p {
  font-size: 13px;
}