/* min-width:768px */

.home {
  background-image: url("../img/people-2569234_1920.jpg");
}

.home .hero-text h1 {
  font-size: 30px;
}

header {
  height: 50px;
}

.header-box {
  height: 50px;
}

.about-photos img {
  height: 210px;
}

.special-features .wrapper,
.team-members .wrapper {
  display: block;
  padding-bottom: 30px;
}

.line {
  display: none;
}

@media(orientation:landscape) {
  .home .hero-text {
    align-items: center;
  }

  .home .hero-text h4 {
    font-size: 18px;
  }

  .home .hero-text h1 {
    font-size: 30px;
  }

  .home .hero-text p {
    text-align: center;
    font-size: 13x;
  }

  .special-features .wrapper {
    padding-bottom: 30px;
  }

  .special-features .hero-text h4 {
    margin-top: 30px;
  }
}

@media(orientation:portrait) {
  .special-features .wrapper {
    padding: 40px 0;
  }

  .special-features .hero-text h4 {
    margin-top: 0;
  }

  section.awards {
    background-image: url("../img/background_1920.jpg");
  }
}

.media {
  height: 36px;
}

.informations .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.part {
  width: 20%;
  flex-wrap: wrap;
}

.instagram-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instagram-feed img {
  margin-right: 0;
  height: 60px;
  width: 60px;
}

.instagram-feed img:nth-of-type(1),
.instagram-feed img:nth-of-type(3) {
margin-right: 10px;
}

.instagram-feed img:nth-of-type(3),
.instagram-feed img:nth-of-type(4) {
margin-top: 10px;
}

.contact-info p:first-child {
  margin-top: 0;
}

.hero p{
  width: 260px;
}