/* min-width:576px */

section .home{
    background-image: url("/img/people-2569234_1280.jpg");
}

header {
    height: 50px;
}

.about-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.about-photos img {
    height: 150px;
}

.special-features .wrapper {
    width: 90%;
}

.special-features .main-box {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 2fr 2fr;
}


section.awards {
    background-image: url("/img/background_1280.jpg"); 
  }